@import '_variables';

@font-face {
    font-family: 'GTWalsheimProRegular';
    src: url('fonts/gt-walsheim-regular.ttf') format("truetype");
}

html {
    position: relative;
    min-height: 100%;

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        // Fix reactstrap??
        .row {
            display: flex;
            width: calc(100% + 30px);
        }

        .col,
        [class*="col-"] {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        & #root {
            display: flex;
            width: 100%;
            min-height: 100vh;
            flex-direction: column;

            font-family: "GTWalsheimProRegular", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
            color: $defaultFg;
            background: $defaultBg;

            .wrapper {
                min-height: 100vh;
                overflow-x: hidden;

                .header {

                }

                .main-content {
                    width: 100%;

                    @media (max-width: 400px) {
                        height: 75%;
                    }
                }

                .footer {
                    text-align: center;
                    margin: 2em 0;
                }
            }

            // Mobile
            @media (max-width: 400px) {
                font-size: 0.7em;
            }
        }
    }
}

a {
    color: $defaultFg;
}


.logo {
    max-width: 200px;
}

.error {
    color: red !important;
}

.content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 1rem;
}


